<main>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                @if (isMadridActive) {
                  <img src="images/madrid.jpg" alt="Ciudad de Madrid" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Madrid</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Madrid es un municipio y una ciudad de España. La localidad, con categoría histórica de villa, es la capital del Estado y de la Comunidad de Madrid.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="madrid()">Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                @if (isBarcelonaActive) {
                  <img src="images/barcelona.jpg" alt="Ciudad de Barcelona" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Barcelona</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Barcelona es una ciudad española, capital de la comunidad autónoma de Cataluña, de la provincia homónima y de la comarca del Barcelonés.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="barcelona()">Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                @if (isAlicanteActive) {
                  <img src="images/alicante.jpg" alt="Ciudad de Alicante" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Alicante</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Alicante es una ciudad y un municipio de España, capital de la provincia homónima, en la Comunidad Valenciana.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="alicante()">Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                @if (isSevillaActive) {
                  <img src="images/sevilla.jpg" alt="Ciudad de Sevilla" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Sevilla</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Sevilla es un municipio y una ciudad de España, capital de la provincia homónima y de Andalucía.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="sevilla()">Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                @if (isOrenseActive) {
                  <img src="images/orense.jpg" alt="Ciudad de Ourense" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Orense</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Orense es una ciudad y municipio español situado en el sureste de Galicia.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="orense()">Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                @if (isBilbaoActive) {
                  <img src="images/bilbao.jpg" alt="Ciudad de Bilbao" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Bilbao</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Bilbao es un municipio situado en el norte de España y una villa de dicho municipio y capital de la provincia</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="bilbao()">Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                @if (isToledoActive) {
                  <img src="images/toledo.jpg" alt="Ciudad de Toledo" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Toledo</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Toledo es un municipio y ciudad española, capital de la provincia homónima, en la comunidad autónoma de Castilla-La Mancha.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="toledo()">Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                @if (isSalamancaActive) {
                  <img src="images/salamanca.jpg" alt="Ciudad de Salamanca" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Salamanca</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Salamanca es un municipio y ciudad española, capital de la provincia homónima, situada en la comunidad autónoma de Castilla y León.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="salamanca()">Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                @if (isValenciaActive) {
                  <img src="images/valencia.jpg" alt="Ciudad de Valencia" width="100%" height="225" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Valencia</title>
                }@else {
                  <table class="table">
                    <thead>
                      <tr class="table-secondary">
                        <th scope="col">{{this.city}}</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row">tiempo</th>
                        <td colspan="2">{{this.weatherData.weather[0].main}}</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Temperatura</th>
                        <td>{{this.weatherData.main.temp}} grados</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Presión</th>
                        <td>{{this.weatherData.main.pressure}} mm</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Humedad</th>
                        <td colspan="2">{{this.weatherData.main.humidity}} %</td>
                      </tr>
                      <tr class="table-light">
                        <th scope="row">Descripción</th>
                        <td colspan="2">{{this.weatherData.weather[0].description}}</td>
                      </tr>
                    </tbody>
                  </table>
                }
                <div class="card-body">
                  <p class="card-text">Valencia es un municipio y una ciudad de España, capital de la provincia homónima y situada al este de España.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="valencia()" >Previsión</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </main>
